################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TBag.BloomFilter.Test/bin/Debug
/TBag.BloomFilter.Test/obj/Debug
/TBag.BloomFilters/bin/Debug
/TBag.BloomFilters.Measurements.Test/bin/Debug
/TBag.BloomFilters/obj/Debug
/TBag.HashAlgorithms/obj/Debug
/TBag.BloomFilters.Measurements.Test/obj/Debug
